
.navbar{
    background-color: rgb(152, 194, 2);
    border-radius: 12px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left; 
    list-style: none;
    margin: 3px 6px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
}
.navbar ul > li > a:hover{
   color: rgb(224, 10, 224);
   background-color: aqua;

    
}